{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    {{ form_start(registrationForm) }}
    <div class="border border-1 rounded-3 m-1 p-2 bg-white">
        <h1 class="text-center">Enregistrement</h1>

        <section class="required border rounded-3 m-2 p-2">
            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword, {
                label: 'Mot de passe'
            }) }}
        </section>
        <section class="optional border rounded-3 m-2 p-2">
            {{ form_row(registrationForm.lastName) }}
            {{ form_row(registrationForm.firstName) }}
            {{ form_row(registrationForm.birthday) }}
            {{ form_row(registrationForm.phoneNumber) }}
            {{ form_row(registrationForm.defaultAllergy) }}
            {{ form_row(registrationForm.defaultNbPlaces) }}
        </section>
            <div class="text-center col m-3">
                {{ form_row(registrationForm.agreeTerms) }}
                <button type="submit" class="register validation-button btn btn-outline btn-lg m-1">S'enregistrer</button>
            </div>


    </div>
    {{ form_end(registrationForm) }}



{% endblock %}
