{% extends 'base.html.twig' %}

{% block title %}ReservationsController!{% endblock %}

{% block body %}

    {{ form_start(reservationForm, {'action': path('app_reservations'), 'method': 'POST'}) }}
    <div class="reservation-box container shadow-sm mx-0 my-2 px-0 rounded-3">

        <div class="text-center form-control">
            <h2>Réservation</h2>
            <b class="m-1 mb-3">{{ form_label(reservationForm.date) }}</b>
            <div class="m-1 mb-3">{{ form_widget(reservationForm.date, {'id': 'form-res-date-field'}) }}</div>
            <div class="m-1 mb-3">{{ form_errors(reservationForm.date) }}</div>
            <b class="m-1 mb-3">{{ form_label(reservationForm.allergy) }}</b>
            <div class="m-1 mb-3">{{ form_widget(reservationForm.allergy, {'id': 'form-res-allergy-field'}) }}</div>
            <b class="m-1 mb-3">{{ form_label(reservationForm.nbPlaces) }}</b>
            <div class="m-1 mb-3">{{ form_widget(reservationForm.nbPlaces, {'id': 'form-res-nbplaces-field'}) }}</div>
            <div class="text-center col m-3">
                <button id="form-res-submit" type="submit" class="reservation btn btn-outline m-1 hover text-center">Réservez</button>
            </div>
        </div>
        <div>
        </div>
    </div>
    {{ form_end(reservationForm) }}



{% endblock %}
